.testimonalGencont {
  background-color: blueviolet;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 390px;
  width: 300px;
  box-shadow: 0px 0px 15px -8px black;
  margin-bottom: 10px;
  align-items: center;
form{
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
  .title {
    h3 {
      padding: 20px;
      font-size: 1.5rem;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .items {
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    margin-top: 4px;
    input {
      width: 90%;
      border: none;
      outline: none;
      height: 35px;
    }
  }
  .discription {
    width: 245px;
    height: 87px;
    margin-top: 4px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    textarea {
      width: 90%;
      height: 90%;
      border: none;
      outline: none;
    }
  }
  .buttonsub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    width: 245px;
    height: 40px;
    background-color: white;
    .file {
      width: 170px;
      padding-left: 4px;
      input {
        border: none;
      }
    }
    .button {
      border: none;
      height: inherit;
      background-color: blue;
      cursor: pointer;
      color: white;
      font-weight: bold;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        background-color: transparent;
        color: white;
        font-weight: bold;
        border: none;
        width: inherit;
        height: inherit;
        cursor: pointer;
      }
    }
  }
}
.testimonalGencont:hover {
  transform: scale(1.079);
}
